*{
    box-sizing: border-box;
}

@font-face {
    font-family: impact-font;
    src: url(/fonts/impact.ttf);
  }

body{
    padding: 10px;
    background-image: linear-gradient(black, #e9eee9, black);
}

body.menu-open .nav-btns{
    transform: translateX(0);
}

.main-header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-radius: 2rem;
    background-image: linear-gradient(#d62727, #67e06c);
    border: 1px solid white;
    padding: 15px;
    margin-bottom: 0.5rem;
}

header div img {
    width: 300px;
    height: 80px;
}

.nav-btns{
    display: flex;
    transform: translateY(50%)
}

.header-btn{
    cursor: pointer;
    background-color: unset;
    border: unset;
    font-size: large;
    font-weight: 550;
    font-family: cursive;
    margin-inline-end: 1rem;
    text-align: center;
    padding: 0.3rem 1.5rem;
}

.header-btn:hover:not(.curr-page-btn){
    color:rgb(49, 48, 48);
    text-decoration: underline;
}

.curr-page-btn{
    background-color: white;
    border-radius: 2rem;
    border:1px solid rgb(161, 157, 157)
}

.curr-page-btn:hover{
    background-color: rgb(184, 197, 197);
}

.main-layout{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2b2727, #0b12e0 50%, #76e47a 100%);
    border: 1px solid white;
    border-radius: 2rem;
    gap: 20px;
    padding: 2rem;
}

.search{
    width: 35%;
    line-height: 30px;
    border-radius: 2rem;
    font-size: x-large;
    font-weight: 600;
    padding: 0.5rem;
    border: 2px solid rgb(2, 14, 2);
    cursor: pointer;
    margin-bottom: 10px;
}

.main-gallery{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)); 
    grid-template-rows: auto;
    gap: 5px;
}

img{
    height: 80%;
    width: 100%;
}

.grid-item{
    border-radius: 15px;
    border: 2px solid rgb(2, 14, 2);
    cursor: pointer;
}

img:hover{
    opacity: 0.7;
}

.main-editor{
    background-image: linear-gradient(#3f51b5, #f44336, #3f51b5);
    border-radius: 2rem;
    position: relative;
}

.close-editor{
    position: absolute;
    top: 0.5rem;
    right: 0.6rem;
    font-size: large;
    font-weight: 800;
    font-family: cursive;
    border: 1px solid #a19d9d;
    border-radius: 0.4rem;
    cursor: pointer;
    z-index: 1;
}

.editor-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0.5rem;
}

canvas{
    background-color: white;
    letter-spacing: 1px;
    border-radius: 1rem;
}

.editor-area{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: rgb(184, 182, 179);
    width: 50%;
    padding: 1rem;
}

.editor-area .text-line{
    width: 90%;
    border-radius: 1rem;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: bold;
}

.editor-area .font {
    width: 50%;
    border-radius: 1rem;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: bold;
}

.editor-area >*:not(:last-child){
    margin-bottom: 10px;
}

.text-line-btns{
    padding: 5px;
    flex-grow: 1;
    transform: translateY(20%);
}

.text-line-btns :first-child{
    background-color: rgb(35, 181, 218);
    border-radius: 0.5rem;
    color: white;
    width: 5rem;
}

.text-line-btns :last-child{
    background-color: rgb(230, 40, 40);
    border-radius: 0.5rem;
    color: white;
    width: 5rem;
}

.text-line-btns :nth-child(2){
    background-color: rgb(66, 226, 93);
    border-radius: 0.5rem;
    color: white;
    width: 5rem;
}

.edit-text-area{
    flex-grow: 1;
    display: grid;
    /* grid-template-columns: repeat(5,2.5rem); */
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    grid-template-rows: 2.5rem 2.5rem;
    justify-content: center;
    gap: 10px;    
    padding: 5px;
    background-color: rgb(10, 114, 104);
    border-radius: 1rem;
    padding: 10px;
    width: 50%;
}

.edit-text-area >*{
    border-radius: 0.8rem;
}

.action-area {
    flex-grow: 1;
    padding: 1rem;
}

.action-area :first-child{
    background-color: rgb(4, 6, 131);
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
}

.action-area :nth-child(2){
    background-color: rgb(7, 102, 7);
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
}

.action-area :last-child{
    background-color: rgb(126, 8, 126);
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    font-family: cursive;
}

a{
    text-decoration: none;
}

footer{
    height: 50px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: larger;
    font-family: cursive;
}

@media (max-width: 900px){
    .header-btn{
        margin-inline-end: 0;
        padding: 0.3rem 1rem;
    } 
    .editor-container {
        gap: 60px;
    }
    .search{
        width: 50%;
    }
}

@media (max-width: 800px){
    .editor-container {
        gap: 50px;
    }
}


@media (max-width: 760px){
    .hamburger{
        display: block;
    }
    .exit{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 10%;
        height: 4%;
        font-size: large;
        font-weight: 800;
        font-family: cursive;
        border: 1px solid #a19d9d;
        border-radius: 0.4rem;
        cursor: pointer;
    }
    .nav-btns{
        background-color: #cac8bd;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        gap: 1rem;
        padding: 2rem;
        transform: translateX(100%);
        transition: transform 0.7s;
    }
    .editor-container {
        gap: 30px;
    }
    .editor-area{
        position: unset;
    }
    .search{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px){
    .editor-container {
        flex-direction: column;
    }
    .editor-area{
        width: 100%;
    }
    .search{
        width: 100%;
        margin-bottom: 10px;
    }
    .color{
        z-index: 1;
        top:85%;
    }
}